<?xml version="1.0"?>
<model>
  <name>Floor Tile</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Interactive floor tile that can change color or disappear
  </description>
</model>
